.bsignal_section-title {
    background: linear-gradient(92deg, #0E5C98 0%, #1384DC 98.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

