.cssbuttons-io-button {
  font-family: inherit;
  padding: 6px 18px 6px 18px;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(3, 206, 228) 0%, rgb(3, 206, 228) 100%);
  border: none;
  box-shadow: 0px 0px 20px 3px #03CEE4;
  letter-spacing: 0.8px;
  border-radius: 14px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0px 0px 24px -2px #03CEE4;
}

.cssbuttons-io-button:active {
  box-shadow: 0px 0px 15px 0px #03CEE4;
}

.text-content {
  background: linear-gradient(272deg, #01FBEC 29.44%, #008ACE 99.79%, rgba(1, 168, 251, 0.00) 99.79%, #318EBC 99.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-sign::after {
  content: "";
  display: block;
  width: 284px;
  height: 10px;
  background: linear-gradient(90deg, #007DC6 0.7%, #02A2FF 100%);
  box-shadow: 3px 2px 18px 1px rgba(255, 255, 255, 0.20) inset;
  margin-top: 22px;
}

.bsign-content {
  color: #FFF;
  font-style: italic;
  font-weight: 400;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .text-sign::after {
    content: "";
    display: block;
    width: 284px;
    height: 10px;
    background: linear-gradient(90deg, #007DC6 0.7%, #02A2FF 100%);
    box-shadow: 3px 2px 18px 1px rgba(255, 255, 255, 0.20) inset;
    margin-top: 22px;
  }

  .bsign-content {
    color: #FFF;
    font-style: italic;
    font-weight: 400;
    line-height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .text-sign::after {
    content: "";
    display: block;
    width: 240px;
    height: 5px;
    background: linear-gradient(90deg, #007DC6 0.7%, #02A2FF 100%);
    box-shadow: 3px 2px 18px 1px rgba(255, 255, 255, 0.20) inset;
    margin-top: 15px;
  }

  .bsign-content {
    color: #FFF;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .text-sign::after {
    content: "";
    display: block;
    width: 210px;
    height: 5px;
    background: linear-gradient(90deg, #007DC6 0.7%, #02A2FF 100%);
    box-shadow: 3px 2px 18px 1px rgba(255, 255, 255, 0.20) inset;
    margin-top: 13px;
  }

  .bsign-content {
    color: #FFF;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
  }
}

@media screen and (max-width: 320px) {
  .text-sign::after {
    content: "";
    display: block;
    width: 170px;
    height: 5px;
    background: linear-gradient(90deg, #007DC6 0.7%, #02A2FF 100%);
    box-shadow: 3px 2px 18px 1px rgba(255, 255, 255, 0.20) inset;
    margin-top: 13px;
  }

  .bsign-content {
    color: #FFF;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
  }
}